/* CSS Document */
body {
	width:100%; 
	font-family:Helvetica, sans-serif;
	font-size: 1em;
	padding: 0;
	margin:0 auto ;
	color:#edf2f8;
}
a:link {
	color: #666;
	text-decoration: none;	
}
a:visited {
	color: #666;
	text-decoration: none;	
}
a:hover {
	color: #C00;
	text-decoration: none;	
}
ul,ol,li {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}
dl,dt,dd {
	margin: 0;
	padding: 0;
}
img {
	border: 0;	
}
br {
	font-size: 0;
	line-height: 0.5em;
	height: 0.5em;
}

/* 头部 */
.top {
	width: 100%;
	height:6em;
	margin: 0 auto;
	
		
}
.top img{
	border:0;
}
.top ul {
	
	line-height: 5.6em;
	float: right;
}
.top ul li {
	float: left;
	margin-left: 1em;
	font-weight: bold;
}
.top ul li a.hover {
	color: #F60;
}
.top ul li a.hover:hover {
	color: #C00;
}

/* 登录主体 */
.main {
	height: 32.5em;
	background: url(../images/tp02_20140320.png ) repeat-x center;
}
.main .denglu {
	width: 100%;
	height: 32.5em;
	background:url(../images/2.jpg) no-repeat;
	margin: 0 auto;
	position: relative;
}
.main .denglu .text {
	width: 24%;
	height:12em;
	position: absolute;
	top: 20em;
	line-height: 1.6em;
	color: #999;
	background: url(../images/notice.JPG) no-repeat;
}
.main .denglu .dlk {
	width: 24%;
	height: 19.3em;
	background: url(../images/tp03_20140320.png) no-repeat;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #999;
}
.main .denglu .dlk a.mm {
	color: #000;
	font-size: 0.75em;
}
.main .denglu .dlk a.mm:hover {
	color: #C00;
}
.main .denglu .dlk a.zc {
	color: #F60;
}
.main .denglu .dlk a.zc:hover {
	color: #C00;
}

/* 登录底部 */
.footer {
	font-size: 0.8em;
	height: 4.3em;
	width: 100%;
	margin:0 auto;
	line-height:4.33m;
	background: url(../images/tp08_20140320.png) repeat-x;
	text-align: center;
	color: #666;	
}

input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}

@media screen and (max-width: 800px) {
    .body {
	   width:640px;
	}
	.top img{
	   height:60px;
	}
	.main {
	    background-size:340px;
	}
}
@media screen and (max-width: 640px) {
    .body {
	   width:480px;
	}
	.top {
	   width:100%;
	}
	.footer{
		width:440px;
	}
}
@media screen and (max-width: 480px) {
    .main {
	   width:100%;
	   max-width:420px;
	}
	.top {
	   width:100%;
	   margin:20px auto 20px auto;
	   text-align:center;
	}
	.top img{
	   height:60px;
	}
	.main {
	    float:none;
	    text-align:center;
	    height:430px;
	    background:transparent none center 220px no-repeat;
	    background-size:280px;
	    margin-bottom:0px;
	}
	.denglu {
	    width:100%;
	    margin:0px auto;
	    text-align:left;
	    float:none;
	}
	.dlk{
		margin:0 15px;
		width:calc(100% - 30px);
	}
	.denglu{
		margin-top:10px;
		margin-left:15px;
		margin-right:15px;
		width:calc(100% - 30px);
	}
	
	
	.footer{
		margin:10px 0;
		width:200px;
	}
	
}
@media screen and (max-width: 400px) {
    .body {
	   width:100%;
	}
	.mian {
		height:420px;
	    background-size:260px;
	}
}
@media screen and (max-width: 360px) {
    .body {
	   width:100%;
	}
	.main {
		height:400px;
	    background-size:240px;
	}
}
@media screen and (max-width: 320px) {
    .main {
	   width:100%;
	}
}