@charset "utf-8";
body{ width:900px; height:600px; margin:0 auto; background-color:#ecf2f8;}
header{width:900px; height:100px;}
header aside { width:300px;height:100px; float:left;}
header aside img {width:300px; height:100px;}
header article {width:600px;height:100px; float:left; text-align:right;}
#content{width:900px; height:400px; margin:0 auto;margin-top:200px; }

.clear{ clear:both} 
footer{ clear:both;width:900px; height:100px; text-align:center;}
/* CSS Document */

